/*
    Theme Name: DataStore HUB XP 2020
    Theme URI: https://gitlab.com/Robson16/datastore-hubexp
    Author: Robson H. Rodrigues
    Author URI: https://www.robsonhrodrigues.com.br/
    Description: Tema para evento anual DataStore Hub Experience de 2020
    Requires at least: WordPress 4.9.6
    Version: 1.2
    License: 
    License URI: LICENSE
    Text Domain: dtshubxp20
    Tags: one-column, accessibility-ready, custom-logo, custom-menu, sticky-post, translation-ready, e-commerce, blog, featured-images, footer-widgets
*/

/* BASE STYLES */

/* Base */
@font-face {
  font-family: 'Cocogoose';
  src: url("./fonts/cocogoose-webfont.woff2") format("woff2"), url("./fonts/cocogoose-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("./fonts/bebasneue_thin-webfont.woff2") format("woff2"), url("./fonts/bebasneue_thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("./fonts/bebasneue_light-webfont.woff2") format("woff2"), url("./fonts/bebasneue_light-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("./fonts/bebasneue_book-webfont.woff2") format("woff2"), url("./fonts/bebasneue_book-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("./fonts/bebasneue_bold-webfont.woff2") format("woff2"), url("./fonts/bebasneue_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("./fonts/bebasneue_regular-webfont.woff2") format("woff2"), url("./fonts/bebasneue_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Bebas Neue", "Arial", "sans-serif";
  font-weight: 300;
}

p {
  line-height: 1.75em;
  margin-bottom: 1.3em;
}

strong {
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration-color: #56c5d7;
}

form p {
  line-height: initial;
}

form label {
  margin: 0;
  width: 100%;
  text-align: right;
  font-size: 1.2em;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"] {
  padding-top: 18px;
  padding-bottom: 18px;
}

form input[type="submit"] {
  font-size: 3em;
  font-weight: 200;
  border: none;
  background-color: transparent;
}

form textarea {
  min-height: 100px;
}

form select {
  width: 100%;
  height: 2.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  background-image: linear-gradient(45deg, transparent 50%, black 50%), linear-gradient(135deg, black 50%, transparent 50%), linear-gradient(to right, black, black);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

form input:-webkit-autofill,
form input:-webkit-autofill:hover,
form input:-webkit-autofill:focus textarea:-webkit-autofill,
form textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
form select:-webkit-autofill,
form select:-webkit-autofill:hover,
form select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid #EEE;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #000;
}

form ::placeholder {
  color: #333;
  opacity: 1;
}

form :-ms-input-placeholder {
  color: #333;
}

form ::-ms-input-placeholder {
  color: #333;
}

/* Placeholders */
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"],
form textarea,
form select {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  height: calc(1.5em);
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid black;
  border-radius: 0;
  background: transparent;
  background-clip: padding-box;
}

/* LAYOUTS */
/* Header */
#header {
  position: relative;
}

.header-cta {
  width: 100%;
}

@media (min-width: 992px) {
  .header-cta {
    position: absolute;
    z-index: 10;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .header-cta .container {
    max-width: 100%;
  }
}

.header-cta .col {
  padding: 0;
}

@media (min-width: 992px) {
  .header-cta .col {
    padding: 0 15px;
    background-color: #cadb29;
  }
}

.header-cta .cta {
  display: block;
  margin-bottom: 0;
  padding: 8px;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  line-height: 1em;
  background-color: #cadb29;
}

.form-wrapp {
  display: none;
  position: absolute;
  width: 100%;
  padding: 15px 15px 0;
  background-color: #cadb29;
  background-color: rgba(202, 219, 41, 0.85);
  z-index: 10;
}

@media (min-width: 992px) {
  .form-wrapp {
    position: relative;
    padding: 0 0 15px;
    background-color: #cadb29;
  }
}

.form-wrapp input {
  border-color: white;
}

/* Navbar */
.navbar {
  border-radius: 0;
}

.navbar .navbar-toggler {
  border-color: white;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-brand {
  max-width: 75%;
}

.navbar .nav-item .nav-link {
  font-size: 1.4em;
  font-weight: 600;
  color: black;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:focus,
.navbar .nav-item .nav-link:active {
  color: white;
}

.navbar .nav-item.active .nav-link {
  color: white;
}

/* Home */
#home .entry-title {
  color: #221f1f;
}

/* Home Page */
#cover {
  position: relative;
}

#cover-carousel .carousel-indicators {
  display: none;
}

@media (min-width: 992px) {
  #cover-carousel .carousel-indicators {
    display: flex;
  }
}

/* Template Pink */
#template-pink .entry-header .entry-title {
  color: #cadb29;
}

/* Template Contact */
#template-contact {
  position: relative;
}

#template-contact .img-overlap {
  position: absolute;
  display: none;
  right: 0;
  z-index: 10;
}

@media (min-width: 768px) {
  #template-contact .img-overlap {
    display: block;
    max-width: 50%;
    top: -110px;
  }
}

@media (min-width: 992px) {
  #template-contact .img-overlap {
    max-width: 45%;
  }
}

#template-contact .container {
  position: relative;
}

@media (min-width: 992px) {
  #template-contact .container {
    top: -100px;
  }
}

#template-contact .entry-title {
  display: none;
}

/* Footer */
#footer p {
  font-size: 1.8em;
  line-height: 1.25em;
}

#footer .footer-bigger {
  padding-top: 80px;
  padding-bottom: 30px;
}

#footer .footer-title {
  color: white;
  font-size: 2.5rem;
}

@media (min-width: 992px) {
  #footer .footer-title {
    color: inherit;
  }
}

#footer .footer-nav {
  color: white;
  font-size: 1.35em;
}

#footer .footer-nav li {
  padding: 0 8px;
}

/* MODULES */
/* Buttons */
.btn-color,
.btn-color-one,
.btn-color-two,
.btn-color-three,
.btn-color-four,
.btn-color-five {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0;
}

.btn-color-one {
  color: white;
  background-color: #56c5d7;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-color-one:hover {
  background-color: #35bacf;
  color: white;
}

.btn-color-two {
  color: black;
  background-color: #cadb29;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-color-two:hover {
  background-color: #adbc20;
  color: black;
}

.btn-color-three {
  color: black;
  background-color: #ee5325;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-color-three:hover {
  background-color: #d93f11;
  color: black;
}

.btn-color-four {
  color: black;
  background-color: #e44a9a;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-color-four:hover {
  background-color: #df2686;
  color: black;
}

.btn-color-five {
  color: white;
  background-color: #5f276e;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-color-five:hover {
  background-color: #451c50;
  color: white;
}

/* Shadows */
.box-shadow,
.btn-color,
.btn-color-one,
.btn-color-two,
.btn-color-three,
.btn-color-four,
.btn-color-five {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.text-shadow,
.btn-color,
.btn-color-one,
.btn-color-two,
.btn-color-three,
.btn-color-four,
.btn-color-five {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.pagination {
  margin: 0;
}

.pagination .page-item .page-link {
  color: #e44a9a;
  border-width: 1px 1px 1px 1px;
  border-color: #e44a9a;
  border-radius: 0;
  background-color: transparent;
}

.pagination .page-item:first-child .page-link {
  border-left-width: 1px;
}

.pagination .page-item:hover {
  background-color: #e760a6;
}

.pagination .page-item:hover .page-link {
  color: white !important;
}

.pagination .page-item.active {
  background-color: #e44a9a;
}

.pagination .page-item.active .page-link {
  color: white;
  font-weight: bold;
}

/* Carousel */
.carousel .carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 40%;
  opacity: 1;
}

.carousel .carousel-indicators li:nth-child(5n+1) {
  background-color: #56c5d7;
}

.carousel .carousel-indicators li:nth-child(5n+2) {
  background-color: #cadb29;
}

.carousel .carousel-indicators li:nth-child(5n+3) {
  background-color: #ee5325;
}

.carousel .carousel-indicators li:nth-child(5n+4) {
  background-color: #e44a9a;
}

.carousel .carousel-indicators li:nth-child(5n+5) {
  background-color: #5f276e;
}

/* Social Icons */
.facebook {
  color: #4267B2;
}

.facebook:hover,
.facebook:focus,
.facebook:active {
  color: #34518d;
}

.twitter {
  color: #1CA1F2;
}

.twitter:hover,
.twitter:focus,
.twitter:active {
  color: #0c85cf;
}

.instagram {
  color: #D52976;
}

.instagram:hover,
.instagram:focus,
.instagram:active {
  color: #aa215e;
}

.youtube {
  color: #FF0000;
}

.youtube:hover,
.youtube:focus,
.youtube:active {
  color: #cc0000;
}

.linkedin {
  color: #0A66C2;
}

.linkedin:hover,
.linkedin:focus,
.linkedin:active {
  color: #084d92;
}

/* Posts Entries */
.entry-header .entry-title {
  margin-bottom: 30px;
  font-family: "Cocogoose", "Bebas Neue", "Arial", "sans-serif";
  font-size: 2.6rem;
  text-transform: lowercase;
  color: #e44a9a;
}

.entry-content h2,
.entry-content h3,
.entry-content h4 {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .entry-content h2 {
    font-size: 2.75em;
  }

  .entry-content h3 {
    font-size: 2.5em;
  }

  .entry-content h4 {
    font-size: 2.25em;
  }
}

.entry-content p,
.entry-content li {
  font-size: 1.4em;
}

@media (min-width: 992px) {

  .entry-content p,
  .entry-content li {
    font-size: 1.8em;
  }
}

.entry-content li::before {
  content: "- ";
}

.entry-content .has-icon-before {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.entry-content .has-icon-before::before {
  content: "+";
  display: inline-block;
  margin-right: 15px;
  line-height: .5;
  font-size: 10rem;
  font-weight: bold;
  color: inherit;
}

@media (min-width: 992px) {
  .entry-content .has-icon-before::before {
    font-size: 13rem;
  }
}

.entry-content .has-white-icon-before {
  color: white;
}

/* Palestrantes */
.speaker .cross {
  position: relative;
  top: -30px;
  width: 50px;
  height: 50px;
}

@media (min-width: 992px) {
  .speaker .cross {
    top: -40px;
    width: 100px;
    height: 100px;
  }
}

.speaker .cross:before,
.speaker .cross:after {
  content: "";
  position: absolute;
  background: #e44a9a;
}

.speaker .cross:before {
  left: 50%;
  width: 10px;
  margin-left: -10%;
  height: 100%;
}

@media (min-width: 992px) {
  .speaker .cross:before {
    width: 20px;
  }
}

.speaker .cross:after {
  top: 50%;
  height: 10px;
  margin-top: -10%;
  width: 100%;
}

@media (min-width: 992px) {
  .speaker .cross:after {
    height: 20px;
  }
}

.speaker .title {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  color: #5f276e;
}

@media (min-width: 992px) {
  .speaker .title {
    font-size: 2.6em;
  }
}

.speaker .sub-title {
  font-size: 1.6em;
  font-weight: 300;
  text-transform: uppercase;
  color: #e44a9a;
}

@media (min-width: 992px) {
  .speaker .sub-title {
    font-size: 2.2em;
  }
}

.speaker-confirmed::before {
  content: 'Confirmado';
  position: absolute;
  top: 12%;
  right: 5%;
  font-size: 2em;
  font-weight: bold;
  color: #ee5325;
  transform: rotate(45deg);
  z-index: 10;
}

.speaker-confirmed::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 15px;
  border-bottom: solid 5rem transparent;
  border-right: solid 5rem #cadb29;
  border-left: solid 5rem transparent;
  border-top: solid 5rem #cadb29;
}

.comments .comment-list {
  padding: 0;
}

.comments .comment-list,
.comments .children {
  list-style: none;
}

.comments .comment-body {
  padding: 15px;
  margin-bottom: 1rem;
  background-color: #eee;
  color: black;
}

.comments .comment-form {
  color: inherit;
}

.comments .comment-form label {
  font-weight: bold;
}

.comments .comment-form input,
.comments .comment-form textarea {
  border-color: #e44a9a;
  color: inherit;
  font-size: 12px;
}

@media (min-width: 576px) {

  .comments .comment-form input,
  .comments .comment-form textarea {
    font-size: 16px;
  }
}

.comments .form-submit input[type="submit"],
.comments .comment-reply-link {
  display: inline-block;
  padding: 0.75rem 1.2rem;
  text-transform: uppercase;
  font-family: 'Heavitas', sans-serif;
  border: none;
  background-color: #56c5d7;
  color: #e44a9a;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.comments .form-submit input[type="submit"]:hover,
.comments .comment-reply-link:hover {
  background-color: #35bacf;
  color: #e44a9a;
}

.comments .reply {
  height: auto;
}

/* Theme */
/* Fonts */
.font-cocogoose {
  font-family: "Cocogoose", "Bebas Neue", "Arial", "sans-serif";
}

/* Texts */
.text-color-one {
  color: #56c5d7;
}

.text-color-two {
  color: #cadb29;
}

.text-color-three {
  color: #ee5325;
}

.text-color-four {
  color: #e44a9a;
}

.text-color-five {
  color: #5f276e;
}

/* Background */
.bg-color-one {
  background-color: #56c5d7;
}

.bg-color-two {
  background-color: #cadb29;
}

.bg-color-three {
  background-color: #ee5325;
}

.bg-color-four {
  background-color: #e44a9a;
}

.bg-color-five {
  background-color: #5f276e;
}

.bg-dark {
  background-color: #221f1f !important;
}

.bg-image-white {
  background: url("./images/bg-white.png") center center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-image-white-alt {
  background: url("./images/bg-white-alt.png") center center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-image-dark {
  background: url("./images/bg-dark.png") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-image-lightgreen {
  background: url("./images/bg-lightgreen.png") center center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-image-pink {
  background: url("./images/bg-pink.png") center center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-image-upc {
  background: url("./images/bg-upc.jpg") center center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Gutenberg Color Options */
.has-dark-color {
  color: #221f1f;
}

.has-dark-background-color {
  background-color: #221f1f;
}

.has-white-color {
  color: white;
}

.has-white-background-color {
  background-color: white;
}

.has-sea-serpent-color {
  color: #56c5d7;
}

.has-sea-serpent-background-color {
  background-color: #56c5d7;
}

.has-pear-color {
  color: #cadb29;
}

.has-pear-background-color {
  background-color: #cadb29;
}

.has-flame-color {
  color: #ee5325;
}

.has-flame-background-color {
  background-color: #ee5325;
}

.has-raspberry-pink-color {
  color: #e44a9a;
}

.has-raspberry-pink-background-color {
  background-color: #e44a9a;
}

.has-imperial-color {
  color: #5f276e;
}

.has-imperial-background-color {
  background-color: #5f276e;
}

/*# sourceMappingURL=style.css.map */