/* Home Page */

#cover {
    position: relative;
}

#cover-carousel {
    .carousel-indicators {
        display: none;

        @media (min-width: 992px) {
            display: flex;
        }
    }
}