/* Footer */

#footer {
    p {
        font-size: 1.8em;
        line-height: 1.25em;
    }

    .footer-bigger {
        padding-top: 80px;
        padding-bottom: 30px;
    }

    .footer-title {
        color: white;
        font-size: 2.5rem;

        @media (min-width: 992px) {
            color: inherit;
        }
    }

    .footer-nav {
        color: white;
        font-size: 1.35em;

        li {
            padding: 0 8px;
        }
    }
}