/* Header */

#header {
    position: relative;
}

.header-cta {
    width: 100%;

    @media (min-width: 992px) {
        position: absolute;
        z-index: 10;
    }

    .container {
        @media (min-width: 576px) and (max-width: 992px) {
            max-width: 100%;
        }
    }

    .col {
        padding: 0;

        @media (min-width: 992px) {
            padding: 0 15px;
            background-color: $color2;
        }
    }

    .cta {
        display: block;
        margin-bottom: 0;
        padding: 8px;
        text-align: center;
        font-size: 2em;
        font-weight: 300;
        line-height: 1em;
        background-color: $color2;
    }
}

.form-wrapp {
    display: none;
    position: absolute;
    width: 100%;
    padding: 15px 15px 0;
    background-color: $color2;
    background-color: rgba($color2, 0.85);
    z-index: 10;

    @media (min-width: 992px) {
        position: relative;
        padding: 0 0 15px;
        background-color: $color2;
    }

    input {
        border-color: white;
    }
}

