/* Navbar */

.navbar {
    border-radius: 0;

    .navbar-toggler {
        border-color: white;

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }

    .navbar-brand {
        max-width: 75%;
    }

    .nav-item {
        .nav-link {
            font-size: 1.4em;
            font-weight: 600;
            color: black;

            &:hover,
            &:focus,
            &:active {
                color: white;
            }
        }

        &.active {
            .nav-link {
                color: white;
            }
        }
    }
}