/* Template Contact */

#template-contact {
    position: relative;

    .img-overlap {
        position: absolute;
        display: none;

        right: 0;
        z-index: 10;

        @media (min-width: 768px) {
            display: block;
            max-width: 50%;
            top: -110px;
        }

        @media (min-width: 992px) {
            max-width: 45%;
        }
    }

    .container {
        position: relative;

        @media (min-width: 992px) {
            top: -100px;
        }
    }

    .entry-title {
        display: none;
    }
}