/* Background */

.bg-color-one {
    background-color: $color1;
}

.bg-color-two {
    background-color: $color2;
}

.bg-color-three {
    background-color: $color3;
}

.bg-color-four {
    background-color: $color4;
}

.bg-color-five {
    background-color: $color5;
}

.bg-dark {
    background-color: rgba(34, 31, 31, 1) !important;
}

.bg-image-white {
    background: url("./images/bg-white.png") center center fixed no-repeat;
    @include background-cover;
}

.bg-image-white-alt {
    background: url("./images/bg-white-alt.png") center center fixed no-repeat;
    @include background-cover;
}

.bg-image-dark {
    background: url("./images/bg-dark.png") center center no-repeat;
    @include background-cover;
}

.bg-image-lightgreen {
    background: url("./images/bg-lightgreen.png") center center fixed no-repeat;
    @include background-cover;
}

.bg-image-pink {
    background: url("./images/bg-pink.png") center center fixed no-repeat;
    @include background-cover;
}

.bg-image-upc {
    background: url("./images/bg-upc.jpg") center center fixed no-repeat;
    @include background-cover;
}