/* Texts */

.text-color-one {
    color: $color1;
}

.text-color-two {
    color: $color2;
}

.text-color-three {
    color: $color3;
}

.text-color-four {
    color: $color4;
}

.text-color-five {
    color: $color5;
}