/* Base */

@font-face {
    font-family: 'Cocogoose';
    src: url('./fonts/cocogoose-webfont.woff2') format('woff2'),
        url('./fonts/cocogoose-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('./fonts/bebasneue_thin-webfont.woff2') format('woff2'),
        url('./fonts/bebasneue_thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('./fonts/bebasneue_light-webfont.woff2') format('woff2'),
        url('./fonts/bebasneue_light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('./fonts/bebasneue_book-webfont.woff2') format('woff2'),
        url('./fonts/bebasneue_book-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('./fonts/bebasneue_bold-webfont.woff2') format('woff2'),
        url('./fonts/bebasneue_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('./fonts/bebasneue_regular-webfont.woff2') format('woff2'),
        url('./fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Bebas Neue", "Arial", "sans-serif";
    font-weight: 300;
}

p {
    line-height: 1.75em;
    margin-bottom: 1.3em;
}

strong {
    font-weight: bold;
}

ul {
    list-style: none;
}

a {
    color: inherit;

    &:hover,
    &:active,
    &:focus {
        color: inherit;
        text-decoration-color: $color1;
    }
}

form {
    p {
        line-height: initial;
    }

    label {
        margin: 0;
        width: 100%;
        text-align: right;
        font-size: 1.2em;
        font-weight: bold;
    }

    input {

        &[type="text"],
        &[type="email"],
        &[type="tel"],
        &[type="password"] {
            @extend %form-fields;
            padding-top: 18px;
            padding-bottom: 18px;
        }

        &[type="submit"] {
            font-size: 3em;
            font-weight: 200;
            border: none;
            background-color: transparent;
        }
    }

    textarea {
        @extend %form-fields;
        min-height: 100px;
    }

    select {
        @extend %form-fields;
        width: 100%;
        height: 2.5em;
        -moz-appearance: none;
        -webkit-appearance: none;
        border-radius: 0;
        background-image:
            linear-gradient(45deg, transparent 50%, black 50%),
            linear-gradient(135deg, black 50%, transparent 50%),
            linear-gradient(to right, black, black);
        background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
        background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
        background-repeat: no-repeat;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        transition: background-color 5000s ease-in-out 0s;
        border: 1px solid #EEE;
        box-shadow: 0 0 0 1000px transparent inset;
        -webkit-text-fill-color: #000;
    }

    ::placeholder {
        color: #333;
        opacity: 1;
    }

    :-ms-input-placeholder {
        color: #333;
    }

    ::-ms-input-placeholder {
        color: #333;
    }
}