// Mixins

@mixin translateY($porcentagem) {
    -webkit-transform: translateY($porcentagem);
    -moz-transform: translateY($porcentagem);
    -ms-transform: translateY($porcentagem);
    -o-transform: translateY($porcentagem);
    transform: translateY($porcentagem);
}

// Background image with layer of color on it
@mixin tintedImage($color, $alpha, $imgUrl) {
    background-image: linear-gradient(rgba($color, $alpha), rgba($color, $alpha)), url($imgUrl);
}

@mixin background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin btn-hover($bg-color, $color) {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:hover {
        background-color: darken( $bg-color, 8% );
        color: $color;
    }
}
