/* Placeholders */

%form-fields {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    height: calc(1.5em);
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 0;
    background: transparent;
    background-clip: padding-box;
}