/* Buttons */

.btn-color {
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0;
    @extend .box-shadow;
    @extend .text-shadow;
}

.btn-color-one {
    color: white;
    background-color: $color1;
    @extend .btn-color;
    @include btn-hover($color1, white);
}

.btn-color-two {
    color: black;
    background-color: $color2;
    @extend .btn-color;
    @include btn-hover($color2, black);
}

.btn-color-three {
    color: black;
    background-color: $color3;
    @extend .btn-color;
    @include btn-hover($color3, black);
}

.btn-color-four {
    color: black;
    background-color: $color4;
    @extend .btn-color;
    @include btn-hover($color4, black);
}

.btn-color-five {
    color: white;
    background-color: $color5;
    @extend .btn-color;
    @include btn-hover($color5, white);
}