/* Carousel */

.carousel {
    .carousel-indicators {
        li {
            width: 20px;
            height: 20px;
            border-radius: 40%;
            opacity: 1;

            &:nth-child(5n+1) {
                background-color: $color1;
            }

            &:nth-child(5n+2) {
                background-color: $color2;
            }

            &:nth-child(5n+3) {
                background-color: $color3;
            }

            &:nth-child(5n+4) {
                background-color: $color4;
            }

            &:nth-child(5n+5) {
                background-color: $color5;
            }
        }
    }
}