/* Posts Entries */

.entry-header {

    .entry-title {
        margin-bottom: 30px;
        font-family: "Cocogoose", "Bebas Neue", "Arial", "sans-serif";
        font-size: 2.6rem;
        text-transform: lowercase;
        color: $color4;
    }

}

.entry-content {

    h2,
    h3,
    h4 {
        margin-bottom: 0;
    }

    @media (min-width: 992px) {
        h2 {
            font-size: 2.75em;
        }

        h3 {
            font-size: 2.5em;
        }

        h4 {
            font-size: 2.25em;
        }
    }

    p,
    li {
        font-size: 1.4em;

        @media (min-width: 992px) {
            font-size: 1.8em;
        }
    }

    li {
        &::before {
            content: "- ";
        }
    }

    .has-icon-before {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        &::before {
            content: "+";
            display: inline-block;
            margin-right: 15px;
            line-height: .5;
            font-size: 10rem;
            font-weight: bold;
            color: inherit;

            @media (min-width: 992px) {
                font-size: 13rem;
            }
        }
    }

    .has-white-icon-before {
        color: white;
    }
}