.pagination {
    margin: 0;

    .page-item {
        .page-link {
            color: $color4;
            border-width: 1px 1px 1px 1px;
            border-color: $color4;
            border-radius: 0;
            background-color: transparent;
        }

        &:first-child { 
            .page-link {
                border-left-width: 1px;
            }
        }

        &:hover {
            background-color: lighten($color4, 5%);

            .page-link {
                color: white !important;
            }
        }

        &.active{

            background-color: $color4;

            .page-link {
                color: white;
                font-weight: bold;
            }
        }
    }
}