/* Social Icons */

.facebook {
    color: #4267B2;

    &:hover,
    &:focus,
    &:active {
        color: darken(#4267B2, 10%);
    }
}

.twitter {
    color: #1CA1F2;

    &:hover,
    &:focus,
    &:active {
        color: darken(#1CA1F2, 10%);
    }
}

.instagram {
    color: #D52976;

    &:hover,
    &:focus,
    &:active {
        color: darken(#D52976, 10%);
    }
}

.youtube {
    color: #FF0000;

    &:hover,
    &:focus,
    &:active {
        color: darken(#FF0000, 10%);
    }
}

.linkedin {
    color: #0A66C2;

    &:hover,
    &:focus,
    &:active {
        color: darken(#0A66C2, 10%);
    }
}