/* Palestrantes */

.speaker {

    .cross {
        position: relative;
        top: -30px;
        width: 50px;
        height: 50px;

        @media (min-width: 992px) {
            top: -40px;
            width: 100px;
            height: 100px;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            background: $color4;
        }

        &:before {
            left: 50%;
            width: 10px;
            margin-left: -10%;
            height: 100%;

            @media (min-width: 992px) {
                width: 20px;
            }
        }

        &:after {
            top: 50%;
            height: 10px;
            margin-top: -10%;
            width: 100%;

            @media (min-width: 992px) {
                height: 20px;
            }
        }
    }

    .title {
        font-size: 2em;
        font-weight: bold;
        text-transform: uppercase;
        color: $color5;

        @media (min-width: 992px) {
            font-size: 2.6em;
        }
    }

    .sub-title {
        font-size: 1.6em;
        font-weight: 300;
        text-transform: uppercase;
        color: $color4;

        @media (min-width: 992px) {
            font-size: 2.2em;
        }
    }
}

.speaker-confirmed {
    &::before {
        content: 'Confirmado';
        position: absolute;
        top: 12%;
        right: 5%;
        font-size: 2em;
        font-weight: bold;
        color: $color3;
        transform: rotate(45deg);
        z-index: 10;        
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 15px;
        border-bottom: solid 5rem transparent;
        border-right: solid 5rem $color2;
        border-left: solid 5rem transparent;
        border-top: solid 5rem $color2;
    }
}